body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}

.dashboard {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1e1e2f;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar li.active,
.sidebar li:hover {
  background: #3a3a5a;
}



.main {
  flex: 1;
  padding: 20px;
  width: 100%;
}

.table-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.card h3 {
  margin: 0;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}

.blue { background: #4e73df; }
.green { background: #1cc88a; }
.pink { background: #e83e8c; }
.dark { background: #343a40; }

/* Table */
.table-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* List */
.list-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.list-section ul {
  padding-left: 20px;
}